@font-face {
	font-family: "GrazieMille";
	src: url("webFonts/grazie_mille/variable/GrazieMille.woff2") format("woff2");
	font-weight: 100 900;
	font-style: normal;
}

@font-face {
	font-family: "GrazieMille";
	src: url("webFonts/grazie_mille/variable/GrazieMille_it.woff2") format("woff2");
	font-weight: 100 900;
	font-style: italic;
}

