$darkpurple: #302b6d;
$purple: #6624d7;
$lightpurple: #ad5df9;
$teal: #00edbd;
$gold: #ffba3a;
$red: #ff4f44;
$pink: #ff007b;
$white: #fefefe;
$black: #1e1e1f;

$colors: (
  darkpurple: $darkpurple,
  purple: $purple,
  lightpurple: $lightpurple,
  teal: $teal,
  gold: $gold,
  red: $red,
  pink: $pink,
  white: $white,
  black: $black
);


@each $name, $hex in $colors {
  .color--#{$name} {
    color: $hex;
  }

  .bg--#{$name} {
    background-color: $hex;
  }
}