:root {
	--sans-serif: "HKGrotesk", '"Helvetica Neue"', "Helvetica", "Arial",
		"sans-serif", '"Apple Color Emoji"', '"Segoe UI Emoji"', '"Segoe UI Symbol"',
		'"Noto Color Emoji"';
	--serif: "Juana", "Georgia", "Cambria", '"Times New Roman"', "serif";
}

body {
	font-size: 1.4rem;
	padding: 0;
	margin: 0;
	font-family: var(--sans-serif);
	font-size: 1.35rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--radius: 0.5rem;
	}
}

a {
	cursor: pointer;
}
