@import "colors";

body {
  background-color: $color-primary;
  color: $color-secondary;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: all ease 0.15s;
  border-bottom: 1px solid $color-accent;
  position: relative;
  z-index: 99;
  &:hover,
  &:focus {
    background-color:$color-accent;
  }
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background:$color-secondary;
}
.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string, .token.variable {
  color: $color-accent;
  background:transparent;
}